<div class="country-filters">
  <div class='left'>
    <h1>REST Countries</h1>
    <ul>
      <li><a href='https://github.com/claivemonteza/angularcountries.git'>View on GitHub</a></li>
    </ul>
  </div>
  <div class="search-filter shadow">
      <span class="fa fa-search"></span>
      <input type="text" placeholder="Search for a country..." [(ngModel)]="searchFilter" />
  </div>

  <div class="right">
    <app-export ></app-export>

    <app-dropdown
      placeholder="Filter by Region"
      [values]="regionOptions"
      [(value)]="regionFilter"
    ></app-dropdown>
  </div>
</div>


<div class="country-cards">
  <app-country-card
    *ngFor="let country of countries"
    [country]="country"
  ></app-country-card>
</div>
